<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="Utilities.ExtentReportManager"/>
    </listeners>

    <test thread-count="5" name="Test">

        <parameter name="os" value="Windows" />
        <parameter name="browser"  value="chrome"/>
        <classes>
            <class name="testcases.TC_01_shopPlanLink"/>
            <class name="testcases.TC_02_selectaPlan"/>
            <class name="testcases.TC_03_bringYourPhone"/>
            <class name="testcases.TC_04_selectSIMobject"/>
            <class name="testcases.TC_05_mycartPSIMadded"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
